<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>File Tracking System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        a{
        color:white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark" >
  <a class="navbar-brand" href="#" style="color:yellow">File Tracking System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}" style="color:white">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if request.user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_employee' %}" style="color:white">Add Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewdata' %}" style="color:white">View Employee</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a>
      </li>
        {% elif request.user.username %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'uploadfile' %}" style="color:white">Upload File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'viewfile' %}" style="color:white">View Request</a>
      </li><li class="nav-item">
        <a class="nav-link" href="{% url 'viewstatus' %}" style="color:white">View Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'c_password' %}" style="color:white">Change Password</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="color:white">Logout</a>
      </li>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="" style="color:white;float:right" align="right">{{request.user.username}}({{emp.type.type}}.[{{emp.department.dept}}])</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_sign' %}" style="color:white">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'loginemployee' %}" style="color:white">Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}" style="color:white">Contact US</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}" style="color:white">About</a>
      </li>
        {% endif %}
          </ul>
  </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
